body {
    color: #d6292b;
}

img {
    width: 800px;
    height: 600px;
}

.nameTaco {
    font-size: 40px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formInput {
    padding: 5px;
    background-color: rgba(255, 196, 0, 0.12);
    border: 2px groove yellow;
    border-radius: 15px;
}