<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div>
    <h1>Welcome to...</h1>
    <img th:src="@{/images/Тако.jpg}"/>
</div>
<div>
    <h3 th:text="${man}">---------</h3>
    <span class="nameTaco" th:text="${taco.getName()}">error</span>
</div>
</body>
</html>